<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/main" class="navbar-brand"><img src='{{ url_for("static", filename="img/logo.png") }}' alt="logo", width="50px", height="50.px"></a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
{% block content %}
    <form action="{{ url_for('user.search_form') }}" method="GET" class="navbar-nav mr-auto">
      <div class="form-group">
        {{ form.title.label }}
        {{ form.title(size=32) }}
      </div>
      {{ form.submit() }}
    </form>
{% endblock %}
    <form>
      <ul>
        <li class="nav-item active">
            <a class="nav-link" href="/users/register">Регистрация</a>
        </li>
        <li class="nav-item">
          {% if current_user.is_authenticated %}
            <a class="nav-link" href="/users/logout">Выход</a>
          {% else %}
            <a class="nav-link" href="/users/login">Вход</a>
          {% endif %}
        </li>
      </ul>

    </form>
  </div>
</nav>